<h1>How was Structwares started?</h1>
<p> Structwares was started after a realization that even after having numerous software in the market a civil engineer has to do a lot of manual work to do a specific task!</p>

<h1>Why was Structwares started?</h1>
<p> Structwares was started with an aim to reduce the manual work of a civil engineer so that a civil engineer concentrates just on his core work.</p>

<h1>How long has it been?</h1>
<p> Well it has been over 6 months we have started developing applications for Civil engineers. We have developed around 6 different software’s till date for 4 different clients.</p>

<h1>How will I identify the need of a Structwares?</h1>
<p> It’s very simple, what is the kind of work that you have to do in your every single project which is time consuming? Software can be built for that repetitive process.</p>

