<h1>A few of Structwares clients are:</h1>
<div class="row">
	<aside class="span5">
		<address>
		  <strong>EquiCom Structual consultants</strong><br>
		  795 Folsom Ave, Suite 600<br>
		  Pune, CA 94107<br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>
		 
		<address>
		  <strong>Avinash Kulkarni and associates </strong><br>
		  795 Folsom Ave, Suite 600<br>
		  Ahmednagar, CA 94107<br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>

		<address>
		  <strong>Mr. Ramnath Bhatt</strong><br>
		  795 Folsom Ave, Suite 600<br>
		  Pune, CA 94107<br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>

		<address>
		  <strong>Mr. Ajay Dagade</strong><br>
		  795 Folsom Ave, Suite 600<br>
		  Ahmednagar, CA 94107<br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>
	</aside>
	<section class="span7">
		<%= link_to image_tag("StepByStep.jpg", alt: "We Keep It Simple"), contact_path %>
	</section>
</div>