<div class="hero-unit">
  <h1 class="text-left">Welcome to Structwares!</h1>
  <p>We simplify civil engineer's life by generating correct reports with a cilck of a button. Don't believe? Try our demo application below.</p>
  <p>
    <a class="btn btn-primary btn-large" href= "/trydemo">
      Try demo app
    </a>
  </p>
</div>