<div class="page-header">
  <h1><small>3 simple steps and your report is ready to be printed</small></h1>
</div>

<ul class="thumbnails center">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x180" alt="">
      <h3 class='text-center'>Step 1</h3>
      <% if signed_in? %>
      <p><a href="#" class="btn btn-large btn-success disabled">Log in as user</a></p>
      <% else %>
      <p><a href="/login" class="btn btn-large btn-success">Log in  as user</a></p>
      <% end %>
      <h5 class='text-center'><%= link_to "Signup as new user", signup_path %></h5>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x180" alt="">
      <h3 class='text-center'>Step 2</h3>
      <% if disabled? && signed_in? %>
      <p><a href="#" class="btn btn-large btn-success disabled">Enter Form Details</a></p>
      <% else %>
      <p><a href="/formdetail" class="btn btn-large btn-success">Enter Form Details</a></p>
      <% end %>
      <h5 class='text-center'><%= link_to "Enter new details", formdetail_path %></h5>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x180" alt="">
      <h3 class='text-center'>Step 3</h3>
      <p><a href="/formshow" class="btn btn-large btn-success">Generate Report</a></p>
      <h5 class='text-center'><%= link_to "Download in pdf", formdetail_path %></h5>
    </div>
  </li>
</ul>

<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>