<div class="page-header">
  <h1><small>3 simple steps and your report is ready to be printed</small></h1>
</div>

<ul class="thumbnails center">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x180" alt="">
      <h3 class='text-center'>Step 1</h3>
      <% if signed_in? %>
      <p><a href="#" class="btn btn-large btn-success disabled">Log in as user</a></p>
      <% else %>
      <p><a href="/login" class="btn btn-large btn-success">Log in  as user</a></p>
      <% end %>
      <h5 class='text-center'><%= link_to "Signup as new user", signup_path %></h5>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x180" alt="">
      <h3 class='text-center'>Step 2</h3>
      <% if disabled? && signed_in? %>
      <p><a href="#" class="btn btn-large btn-success disabled">Enter Form Details</a></p>
      <% else %>
      <p><a href="/formdetail" class="btn btn-large btn-success">Enter Form Details</a></p>
      <% end %>
      <h5 clailsss='text-center'><%= link_to "Enter new details", formdetail_path %></h5>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x180" alt="">
      <h3 class='text-center'>Step 3</h3>
      <p><a href="/formshow" class="btn btn-large btn-success">Generate Report</a>
      <h5 class='text-center'><%= link_to "Download in pdf", "/formshow.pdf" %></h5>
    </div>
  </li>
</ul>

<p>This is a simple demo app with minimalistic features. The original application that we create for our clients is capable of having inputs in formats like images, text, doc files(word), excel files(xsl), pdfs, text & text rich HTML files. It can provide output reports in PDF, Word files, Excel files, texts or any other file types desired by the clients with all the required formatting. All the software applications are customized to suit the client needs. To get more information or get a quotation, just fill in the query form and we will get in touch with you within 24 hours. <a href="/contact">Click here.</a></p>